header {
  width: 100%;
  height: 34px;
}

#header_in {
  width: 100%;
  height: 34px;
  border-bottom: 1px solid #ccc;
}

#header_in > div {
  width: 100%;
  height: 34px;
  margin: 0 auto;
  position: relative;
}

#header_in .logo {
  display: none;
}

#header_in .logo_m {
  display: block;
  width: 180px;
  height: 34px;
  margin: 0 auto;
}

#header_in .menu {
  display: none;
}

#nav_bar {
  display: none;
}

#nav_bar .nav {
  display: none;
}

/* ------------------------MAIN_IMG------------------------------------------------------------------- */

#main_img .ttl {
  padding-top: 245px;
  font-size: 40px;
  text-align: center;
  color: #fff;
}

/* ------------------------CONTENTS------------------------------------------------------------------- */

#contents {
  width: 100%;
  overflow: hidden;
}

/* ------------------------MAIN_ICON------------------------------------------------------------------- */

#main_icon {
  width: 100%;
  height: 140px;
}

#main_icon .m_icon {
  width: 100%;
  height: 140px;
  margin: 0 auto;
}

#main_icon .m_icon .icon {
  display: none;
}

#main_icon .m_icon .icon_m {
  display: block;
  width: 100%;
  height: 100%;
}

/* ------------------------MAIN_B------------------------------------------------------------------- */

#main_b {
  width: 100%;
  height: 315px;
  margin-bottom: 3px;
}

#main_b .project {
  float: none;
  width: 100%;
  height: 170px;
  background-color: #1765a1;
}

#main_b .pro_b {
  float: none;
  margin: 0 auto;
  width: 90%;
  height: 110px;
  padding-top: 15px;
}

#main_b .pro_b > div {
  width: 100%;
  height: 27px;
  margin-bottom: 12px;
}

#main_b .pro_b .p_ttl {
  float: left;
  margin-top: 0px;
  width: 94%;
  height: 27px;
  line-height: 15px;
}

#main_b .pro_b .p_ttl .ttl {
  font-size: 7px;
  color: #fff;
}

#main_b .pro_b .p_ttl .sub_ttl {
  font-size: 18px;
  color: #fff;
}

#main_b .pro_b .btn {
  float: right;
  margin-top: 0px;
  width: 13px;
  height: 26px;
}

#main_b .pro_b .btn a img {
  display: block;
  width: 100%;
  height: auto;
}

#main_b .pro_b .menu {
  clear: both;
  width: 100%;
  height: 160px;
}

#main_b .pro_b .menu li {
  width: 100%;
  height: 13px;
  margin-bottom: 8px;
}

#main_b .advantage {
  float: none;
  width: 100%;
  height: 150px;
}

#main_b .advantage li {
  float: left;
  width: 25%;
  height: 150px;
  border-right: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

#main_b .advantage .ttl {
  padding-top: 10px;
  margin-left: 10px;
  font-size: 15px;
  color: #000;
}

#main_b .advantage .txt {
  margin: 3px 0 22px 10px;
  font-size: 10px;
  font-weight: 200;
  color: #666d88;
}

#main_b .advantage .btn {
  margin-left: 10px;
  font-size: 10px;
  color: #1765a1;
}

#main_b .advantage .btn:after {
  content: ">>";
  font-size: 10px;
  color: #1765a1;
}

#main_b .advantage .num {
  font-size: 80px;
  font-weight: 700;
  position: absolute;
  bottom: -20px;
  right: -10px;
  color: #f2f2f2;
  z-index: -1;
}

#main_b .advantage li:last-child {
  border-right: 0;
}

/* ------------------------WEBSITE------------------------------------------------------------------- */

#website {
  width: 100%;
}

#website .web {
  width: 100%;
}

#website .web li {
  float: left;
  width: 50%;
  height: auto;
  position: relative;
}

#website .web li img {
  width: 100%;
  height: auto;
}

#website .web li .web_b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #000;
  opacity: 0;
}

#website .web li .web_b .ttl {
  margin-top: 5vw;
  font-size: 1.56vw;
  color: #fff;
}

#website .web li .web_b .txt {
  margin-top: 1vw;
  font-size: 0.95vw;
  color: #fff;
}

#website .web li .web_b .btn {
  margin-top: 1vw;
  width: 6.25vw;
  height: 1.56vw;
  font-size: 0.8vw;
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
}

#website .web li .web_b .btn:hover {
  background-color: #fff;
  color: #1765a1;
}

#website .web li:hover .web_b {
  transition: 0.7s;
  opacity: 0.8;
}

#website .web li:hover img {
  transition: 0.7s;
  opacity: 0.5;
}

/* ------------------------FOOTER------------------------------------------------------------------- */

footer {
  width: 100%;
  height: 110px;
}

#f_top {
  width: 100%;
  height: 110px;
  background-color: #222;
}

#f_top .mfoot {
  width: 100%;
  height: 110px;
  margin: 0 auto;
}

#f_top .mfoot > li {
  float: left;
  width: 33%;
  height: 110px;
}

#f_top .mfoot .center {
  padding-left: 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

#f_top .mfoot .center .m_center {
  display: block;
  width: 100%;
  height: auto;
}

#f_top .mfoot .center .ttl {
  display: none;
}

#f_top .mfoot .center .num {
  display: none;
}

#f_top .mfoot .center .mail {
  display: none;
}

#f_top .mfoot .center .txt {
  display: none;
}

#f_top .mfoot .bar {
  width: 1px;
  height: 70px;
  margin: 20px 0;
  background-color: #555;
}

#f_top .mfoot .call {
  padding-left: 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

#f_top .mfoot .call .m_call {
  display: block;
  width: 100%;
  height: auto;
}

#f_top .mfoot .call .ttl {
  display: none;
}

#f_top .mfoot .call .call_num li {
  display: none;
}

#f_top .mfoot .call .call_num .num {
  display: none;
}

#f_top .mfoot .call .call_num .txt {
  display: none;
}

#f_top .mfoot .go_btn {
  display: flex;
  align-items: center;
}

#f_top .mfoot .go_btn img {
  width: 100%;
  height: auto;
}

#adress {
  width: 100%;
  height: 65px;
  background-color: #151515;
  position: relative;
}

#adress > p {
  display: none;
}

#adress > div {
  width: 100%;
  height: 65px;
  margin: 0 auto;
}

#adress .f_adress {
  float: none;
  padding-top: 10px;
  font-size: 10px;
  color: #ccc;
  text-align: center;
}

#adress .personal {
  float: none;
  padding-top: 5px;
  font-size: 10px;
  color: #ccc;
  text-align: center;
}
